defaults:
  - _self_

openai:
  api_key: ${oc.env:OPENAI_API_KEY, ""}

data:
  dir: data
  raw_dir: ${data.dir}/raw
  interim_dir: ${data.dir}/interim
  processed_dir: ${data.dir}/processed
  simulated_dir: ${data.processed_dir}/simulated

figures:
  dir: figures

chromadb:
  collection_name: ctrials
  persist_dir: ${data.raw_dir}/collections


civic:
  raw_file: ${data.raw_dir}/01-Dec-2023-VariantSummaries.tsv
  processed_file: ${data.processed_dir}/civic_processed.csv
  variant_syn_file: ${data.processed_dir}/variants_synonyms.csv
  gene_syn_file: ${data.processed_dir}/gene_synonyms.csv

split_params:
  random_state: 42
  train_percent: 70

prompts:
  dir: prompts

open_source_model: NousResearch/Hermes-2-Pro-Mistral-7B

aacr:
  clinical_sample: ${data.raw_dir}/aacr_genie/data_clinical_sample.txt
  data_mutations: ${data.raw_dir}/aacr_genie/data_mutations_extended.txt
  data_cna: ${data.raw_dir}/aacr_genie/data_CNA.txt
  data_sv: ${data.raw_dir}/aacr_genie/data_sv.txt